<div class="kanban-group-container border-opacity-20 flex flex-col flex-shrink-0 shadow-md">
  <div [ngClass]="boardGroupClasses">
    <span class="block text-lg font-semibold">{{ doc.year }}</span>
    <button class="flex hover:bg-indigo-500 ml-auto transition-all">
      <openlibrary-icon icon="menu"></openlibrary-icon>
    </button>
  </div>
  <div class="flex flex-col pb-2 overflow-auto">
    <openlibrary-kanban-card *ngFor="let book of doc.books; trackBy: trackByFn" [book]="book"></openlibrary-kanban-card>
  </div>
</div>
